h1 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.row-days {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
}

button {
  width: 7rem;
  background-color: white;
  border: 2px solid black;
  height: 5.5rem;
}

.add-entry {
  width: 12rem;
  height: 3rem;
  box-shadow: 0.15rem 0.15rem;
}
